{{ define "main" }}
{{ $css := resources.Get "css/about.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.Permalink }}">
<div class="about-container" style="background-image: url('{{ .Params.background_image }}');">
  <div class="about-header">
    <h1 class="about-title">{{ .Title }}</h1>
    <div class="about-divider"></div>
  </div>

  <div class="about-content">
    {{ .Content }}
  </div>

  <div class="about-bottom-design">
    <img src="/actual_about_page2.png" alt="About me 2" />
  </div>
</div>
{{ end }}
